.sidebar {
    background-color: #212529;
}

.row{
    margin:0;
}
.report-header{
    height:100vh;
}
.heading{
    font-size:40px;
    font-weight: 400;
    text-shadow: rgba(202, 207, 216, 0.55) 0px 2px 4px;
}
