<div class="heading">Change Commission %</div>
<div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/sql-logo2.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">MySql</h3>
                <p class="card-text">Commission %
                    <input type="number" name="java-commission" value="java-commission">
                </p>
                <div>
                    <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#change">Change</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/spring2.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">Spring</h3>
                <p class="card-text">Commission %
                    <input type="number" name="java-commission" value="java-commission">
                </p>
                <div>
                    <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#change">Change</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/dotnet-logo.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">Dotnet</h3>
                <p class="card-text">Commission %
                    <input type="number" name="java-commission" value="java-commission">
                </p>
                <div>
                    <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#change">Change</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/java-logo.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">Java</h3>
                <p class="card-text">Commission %
                    <input type="number" name="java-commission" value="java-commission">
                </p>
                <div>
                    <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#change">Change</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="change" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Block</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>The commission percentage is changed successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-color" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>