<div *ngIf="isUser">

        <div class="row"><a [routerLink]="['/profile']">Profile</a></div>
        <div class="row"><a [routerLink]="['/edit-profile']">Edit Profile</a></div>
        <div class="row"><a [routerLink]="['/current-trainings']">Current Trainings</a></div>
        <div class="row"><a [routerLink]="['/completed-trainings']">Completed Trainings</a></div>
        <div class="row"><a [routerLink]="['/payments']">Payments</a></div>
        <div class="row"><a [routerLink]="['/user-search']">Search</a></div>
        <div class="row"><a [routerLink]="['/logoff']">Logoff</a></div>

</div>
<div *ngIf="isMentor">
        <div class="row"><a [routerLink]="['/mentor-profile']">Profile</a></div>
        <div class="row"><a [routerLink]="['/mentor-edit-profile']">Edit Profile</a></div>
        <div class="row"><a [routerLink]="['/mentor-trainings']">Trainings</a></div>
        <div class="row"><a [routerLink]="['/mentor-edit-skills']">Edit skills</a></div>
        <div class="row"><a [routerLink]="['/mentor-payments']">Payments</a></div>
        <div class="row"><a [routerLink]="['/mentor-logoff']">Logoff</a></div>
</div>
<div *ngIf="isAdmin">
        <div class="row"><a [routerLink]="['/admin-permissions']">Permissions</a></div>
        <div class="row"><a [routerLink]="['/admin-edit-technology']">Edit technology</a></div>
        <div class="row"><a [routerLink]="['/change-commission']">Change commission</a></div>
        <div class="row"><a [routerLink]="['/admin-reports']">Payment reports</a></div>
        <div class="row"><a [routerLink]="['/admin-logoff']">Logoff</a></div>

</div>