
 
        <div class="row"><a [routerLink]="['/profile']">Profile</a></div>
        <div class="row"><a [routerLink]="['/edit-profile']">Edit Profile</a></div>
        <div class="row"><a [routerLink]="['/current-trainings']">Current Trainings</a></div>
        <div class="row"><a [routerLink]="['/completed-trainings']" >Completed Trainings</a></div>
        <div class="row"><a [routerLink]="['/user-search']">Search</a></div>
        <div class="row"><a [routerLink]="['/logoff']">Logoff</a></div>
   

