
        <div class="heading">Payments</div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-3 col-lg-3"><img src="/assets/sql-logo2.png" class="card-img1"></div>
                    <div class="col-md-9 col-lg-9">
                        <h3 class="card-title">MySql</h3>
                        <p class="card-text">Payment received:2/4</p>

                        <p class="card-text">Training progress</p>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:70%">70%</div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-3 col-lg-3"><img src="/assets/java-logo.png" class="card-img1"></div>
                    <div class="col-md-9 col-lg-9">
                        <h3 class="card-title">Java</h3>
                        <p class="card-text">Payment received:3/4</p>
                        <p class="card-text">Training progress</p>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:80%">80%</div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-3 col-lg-3"><img src="/assets/dotnet-logo.png" class="card-img1"></div>
                    <div class="col-md-9 col-lg-9">
                        <h3 class="card-title">Dotnet</h3>

                        <p class="card-text">Payment received:1/4</p>
                        <p class="card-text">Training progress</p>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:28%">28%</div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    