
   
        <div class="heading">Completed Trainings</div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/spring2.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Spring</h3>
                        <p class="card-text">Completion date:27/07/2018</p>
                        <p class="card-text">Trainer Name : Christina Karen</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/angular.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Angular</h3>
                        <p class="card-text">Completion date:23/04/2017</p>
                        <p class="card-text">Trainer Name : Sophie Turner</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/php.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">PHP</h3>
                        <p class="card-text">Completion date:24/05/2019</p>
                        <p class="card-text">Trainer Name : Rajesh Murugavel</p>

                    </div>
                </div>
            </div>
        </div>

  