<div class="heading">Change permissions</div>
<div class="heading">Users</div>
<div *ngFor="let u of user">
<div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/trainer3.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">{{u.fullName}}</h3>
                  <p class="card-text">IsBlocked:{{u.isBlocked}}</p>
                <div>
                    <button (click)=onBlock($event,u.userName) class="btn btn-primary btn-large btn-color mr-2" data-toggle="modal"
                        data-target="#block">Block</button>
                    <button (click)=onUnblock($event,u.userName) class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#unblock">Unblock</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/trainer3.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">Preethi Rajendran</h3>
                <p class="card-text">Technology : Spring</p>
                <a href="#" class="btn btn-primary btn-large btn-color mr-2" data-toggle="modal"
                    data-target="#block">Block</a>
                <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                    data-target="#unblock">Unblock</a>

            </div>
        </div>
    </div>
</div> -->

<div class="heading">Mentors</div>
<div *ngFor="let m of mentor">
<div class="card card-inverse card-color p-3">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/trainer3.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">{{m.fullName}}</h3>
                <p class="card-text">IsBlocked:{{m.isBlocked}}</p>
                <div>
                    <button (click)=onBlockMentor($event,m.userName) class="btn btn-primary btn-large btn-color mr-2" data-toggle="modal"
                        data-target="#block">Block</button>
                    <button (click)=onUnblockMentor($event,m.userName) class="btn btn-primary btn-large btn-color" data-toggle="modal"
                        data-target="#unblock">Unblock</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="card card-inverse card-color">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-lg-3"><img src="/assets/trainer3.png" class="card-img2"></div>
            <div class="col-md-9 col-lg-9">
                <h3 class="card-title">Rajesh Murugavel</h3>
                <p class="card-text">Technology : Angular</p>
                <a href="#" class="btn btn-primary btn-large btn-color mr-2" data-toggle="modal"
                    data-target="#block">Block</a>
                <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                    data-target="#unblock">Unblock</a>

            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="block" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Block</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>The person is blocked successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-color" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unblock" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unblock</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>The person is unblocked successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-color" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>