
        <div class="heading">Trainings</div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/sql-logo2.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">MySql</h3>
                        <p class="card-text">Status : Accepted</p>
                        <p class="card-text">Student Name : Banupriya</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/java-logo.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Java</h3>
                        <p class="card-text">Status : Rejected</p>
                        <p class="card-text">Student Name : Kavya shree</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/dotnet-logo.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Dotnet</h3>
                        <p class="card-text">Status : In progress </p>
                        <p class="card-text">Student Name : Vanitha Murugan </p>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:70%">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/spring2.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Spring</h3>
                        <p class="card-text">Status : Pending </p>
                        <p class="card-text">Student Name : Preethi Rajendran</p>
                        <a href="#" class="btn btn-primary btn-large btn-color mr-2" data-toggle="modal"
                            data-target="#accept">Accept</a>
                        <a href="#" class="btn btn-primary btn-large btn-color" data-toggle="modal"
                            data-target="#reject">Decline</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="accept" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Proposal</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p>The proposal is accepted successfully</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-color" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="reject" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Proposal</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p>The proposal is rejected succesfully</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-color" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
