
        <div class="heading">Current Trainings</div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/sql-logo2.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">MySql</h3>
                        <p class="card-text">Status : Rejected</p>
                        <p class="card-text">Trainer Name : Christina Karen</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/java-logo.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Java</h3>
                        <p class="card-text">Status : Accepted</p>
                        <p class="card-text">Trainer Name : Sophie Turner</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/dotnet-logo.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">Dotnet</h3>
                        <p class="card-text">Status : In progress </p>
                        <p class="card-text">Trainer Name : Rajesh Murugavel</p>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:70%">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    