<div class="container">
    <div class="heading">Learn on your schedule</div>
    <div class="sub-heading">Anywhere, anytime. Enjoy risk-free with our 30-day, money-back guarantee.</div>

    <div class="jumbotron col-lg-8">
        <div class="jumbotron-content">
            <h1>Search Courses</h1>
            <p class="jumbotron-lg-only">Based on technology and time</p>
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <div class="form-group">
                    <label for="technology">Technology</label>
                    <select class="custom-select" formControlName="techName" id="technology"  [ngClass]="{ 'is-invalid': submitted && f.techName.errors }">
                        <option value="">Choose your technology</option>
                        <option *ngFor="let technology of Technologies" [value]="technology" [ngValue]="technology"
                            (change)="changeTechnology($event)">{{technology}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.techName.errors" class="invalid-feedback">
                        <div *ngIf="f.techName.errors.required">Technology is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startdates">Start date</label>
                    <input type="date" formControlName="startdates" name="startdates" class="form-control" id="startdates"  [ngClass]="{ 'is-invalid': submitted && f.startdates.errors }"
                        placeholder="Search based on start date">
                        <div *ngIf="submitted && f.startdates.errors" class="invalid-feedback">
                            <div *ngIf="f.startdates.errors.required">Start Date is required</div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="enddates">End date</label>
                    <input type="date" formControlName="enddates" name="enddates" class="form-control" id="enddates"  [ngClass]="{ 'is-invalid': submitted && f.enddates.errors }"
                        placeholder="Search based on end date">
                        <div *ngIf="submitted && f.enddates.errors" class="invalid-feedback">
                            <div *ngIf="f.enddates.errors.required">End Date is required</div>
                        </div>
                </div>
                <button type="submit" class="btn btn-primary btn-large btn-color ">Search</button>
            </form>

        </div>
    </div>
</div>